services:
  api:
    build: .
    ports:
      - "8001:8000"
    env_file: .env
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  worker:
    build: .
    env_file: .env
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: celery -A app.workers.celery_app worker --loglevel=info

  beat:
    build: .
    env_file: .env
    volumes:
      - .:/app
    depends_on:
      redis:
        condition: service_healthy
    command: celery -A app.workers.celery_app beat --loglevel=info

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: susupay
      POSTGRES_PASSWORD: susupay_secret
      POSTGRES_DB: susupay
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U susupay"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
